---
import CertificationCard from "./CertificationCard.astro"
import certifications from "../mocks/certifications.json"
import Arrow from "../icons/Arrow.astro"

const initialShowedCertifications = certifications.slice(0, 3)
const remainingCertifications = certifications.slice(3)
---

<div id="certifications-section" class="mt-5 px-8 py-6 rounded-lg bg-neutral-800">
  <h3 id="certicication-title" class="mb-3 font-[700] text-[24px]">Certificaciones</h3>
  <div id="certifications-card-container" class="[&>div:first-of-type]:border-t">
    {
      initialShowedCertifications.map(c => <CertificationCard showed="true" object={c} />)
    }
  </div>
  <div id="h-certifications-card-container" class="hidden">
    {
      remainingCertifications.map(c => <CertificationCard showed="true" object={c} />)
    }
  </div>
  <button id="load-more-btn" aria-expanded="false" class="w-auto mx-auto mt-8 py-1 px-3 flex items-center justify-center gap-2 bg-white rounded-full text-base text-black hover:translate-y-2 hover:text-[#00271e] hover:bg-[#dbff00] font-[700] border border-transparent duration-100">
    <span>Ver todas</span><Arrow />
  </button>
</div>

<script>
  const loadMoreBtn = document.getElementById('load-more-btn')
  const loadMoreBtnText = loadMoreBtn.querySelector('span')
  const loadMoreBtnIcon = loadMoreBtn.querySelector('svg')
  const hiddenCerts = document.getElementById('h-certifications-card-container')

  loadMoreBtn.addEventListener('click', () => {
    loadMoreBtn.ariaExpanded = (loadMoreBtn.ariaExpanded !== 'true').toString() 
    hiddenCerts.classList.toggle('hidden')
    hiddenCerts.classList.contains('hidden')
      ? (
        loadMoreBtnText.textContent = 'Ver todas',
        loadMoreBtnIcon.style.transform = 'rotate(0deg)'
        )
      : (
        loadMoreBtnText.textContent = 'Mostrar menos',
        loadMoreBtnIcon.style.transform = 'rotate(180deg)'
      )
  })
</script>

<style>
  html:not(.dark) button {
    border-color: black;
  }

  button[aria-expanded="true"]:hover {
    transform: translateY(-8px);
  }

  html:not(.dark) #certifications-section {
    background-color: rgb(229, 229, 229);
  }
</style>