---
const {position, company, date, description} = Astro.props
---

<div class="experience-card flex flex-col gap-3">
  <div class="experience-card__title flex items-center gap-3">
    <i class="fa-solid fa-circle-arrow-right"></i>
    <span class="font-[600] text-xl">{position}</span>
  </div>
  <p class="experience-card__date w-fit font-[600] px-2 text-base bg-white text-black">{company}, {date}</p>
  <div class="experience-card__description flex flex-col gap-3 text-lg">
    {
      description.map(p => <p>{p}</p>)
    }
</div>