---
import LinkButton from "./LinkButton.astro"
---

<footer id='footer-section' class='w-full max-w-[900px] mt-auto p-6 flex flex-col sm:flex-row sm:justify-between items-start gap-4 text-xl sm:text-lg font-semibold border-t-[1px] border-t-zinc-700'>
    <div class="flex flex-col sm:flex-row gap-2 sm:gap-6 sm:items-start children:flex children:items-center children:gap-2 hover:children:bg-[var(--accent-color)] hover:children:text-[var(--accent-color-variant)] children:px-2 children:py-0.5 children:rounded-md children:duration-150">
      <a href='https://www.linkedin.com/in/javihidalgodev/' target="_blank"><i class="fa-brands fa-linkedin text-md pr-1"></i> Linkedin</a>
      <a href='https://github.com/javihidalgodev?tab=repositories' target="_blank"><i class="fa-brands fa-github text-md pr-1"></i> GitHub</a>
    </div>
    <div class="px-2 py-0.5 rounded-md hover:bg-[var(--accent-color)] self-center hover:text-[var(--accent-color-variant)] duration-150">
      <a class="flex items-center gap-3" href='#main-section'>
        <span>volver arriba</span>
        <i class="fa-solid fa-arrow-up text-sm"></i>
      </a>
    </div>
</footer>