---
import LinkButton from "./LinkButton.astro"
---

<section id='footer-section' class='w-full max-w-[900px] mb-16 sm:mb-0 p-6 flex flex-col sm:flex-row sm:justify-between items-center gap-4 bg-[#242424] sm:bg-transparent text-xl sm:text-lg font-semibold'>
  <ul class='flex flex-col sm:flex-row sm:gap-6 items-center sm:items-start'>
    <li class="px-2 py-1 rounded-md hover:bg-[#dbff00]/90 hover:text-[#02241d] duration-150">
      <i class="fa-brands fa-linkedin text-md pr-1"></i>
      <a href='#'>Linkedin</a>
    </li>
    <li class="px-2 py-1 rounded-md hover:bg-[#dbff00]/90 hover:text-[#02241d] duration-150">
      <i class="fa-brands fa-github text-md pr-1"></i>
      <a href='#'>GitHub</a>
    </li>
  </ul>
  <div class="flex items-center gap-2 px-2 py-1 rounded-md hover:bg-[#dbff00]/90 hover:text-[#02241d] duration-150">
    <i class="fa-solid fa-arrow-up text-sm"></i>
    <a href='#main-section'>volver arriba</a>
  </div>
</section>