---
const {text, url} = Astro.props
---

<a
  target="_blank"
  href={url}
  class="
    w-auto
    py-[4px]
    px-[14px]
    flex
    items-center
    justify-center
    gap-[5px]
    bg-white
    rounded-full
    text-base
    hover:text-[#00271e]
    hover:bg-[#dbff00]
    text-black
    font-[700]
    border-[1px]
    border-transparent
    duration-200">
      <slot />
      {text}
</a>

<style>
  html:not(.dark) a {
    border: 1px solid #000;
    color: #000;

    box-sizing: content-box;
  }
</style>