---
import profileIMG from '../images/profile.jpg'
import LinkButton from './LinkButton.astro'
---

<section id="main-section" class="section max-w-[700px] sm:pt-[180px] flex flex-col gap-12 sm:gap-6">
  <div class="h-screen sm:h-auto flex flex-col justify-center gap-4">
    <div id="main-presentation" class="flex flex-col-reverse gap-4 justify-center sm:flex-row sm:justify-between items-center">
      <div class="flex flex-col items-center sm:items-start gap-2">
        <h1 class="font-normal text-5xl sm:text-4xl text-center sm:text-left">Hola, soy <span class="font-[700] text-[#dbff00]">Javier Hidalgo</span></h1>
        <h2 class="text-2xl sm:text-2xl w-fit px-3 py-0.5 bg-[#dbff00] font-bold text-[#02241d]">desarrollador web</h2>
      </div>
      <img class="w-[200px] sm:w-[150px] ml-2 rounded-full" src={profileIMG.src} alt="">
    </div>
  
    <div id="main-link" class="flex flex-wrap justify-center sm:justify-start gap-3 ">
      <LinkButton text="Linkedin" url="https://www.linkedin.com/in/javihidalgodev/" icon={{type: 'brands', uri: 'linkedin'}} />
      <LinkButton text="GitHub" url="https://github.com/javihidalgodev" icon={{type: 'brands', uri: 'github'}} />
      <LinkButton text="Mi CV" url="mailto:javierhidalgo@contacto.dev" icon={{type: 'solid', uri: 'download'}} />
    </div>
  </div>

  <div id="main-description">
    <p class="text-[20px] &[]">Especializado en el desarrollo Front End, y peleándome con el Back para ser un buen Full Stack 🥊🤓. Me gusta el diseño de soluciones sencillas, intutitivas, funcionales y minimalistas. <span class="bg-[#dd4b25] font-[700]">HTML</span> <span class="bg-[#2173f7] font-[700]">CSS</span> <span class="bg-[#efd81d] font-[700] text-black">JavaScript</span> <span class="bg-[#149eca] font-[700]">React</span> <span class="bg-[#e63ba9] font-[700]">Astro</span> <span class="bg-[#ffbc14] font-[700] text-black">Vite</span> <span class="bg-[#7c10f7] font-[700]">Bootstrap</span> <span class="bg-[#38bdf8] font-[700]">Tailwind</span> <span class="bg-[#63b649] font-[700]">Node</span> <span class="bg-[#020202] font-[700]">Express</span> <span class="bg-red-700 font-[700]">SQL</span> <span class="bg-[#b1ff05] font-[700] text-black">MongoDB</span> y en continuo aprendizaje.</p>
  </div>
</section>

<style>
  p > span {
    padding: 2px 4px;
  }
</style>