---
import JavierHidalgoLogo from '../icons/JavierHidalgoLogo.astro'
import ThemeSelector from './ThemeSelector.astro'
---

<nav id="navbar" class='w-full fixed p-[12px] bg-[var(--secondary)] sm:bg-neutral-100/30 max-sm:text-[var(--primary)] sm:backdrop-blur-2xl sm:border-b sm:border-zinc-700 z-20'>
  <div class="mx-auto max-w-[900px] sm:px-6 w-full flex justify-between sm:justify-center items-center flex-wrap">
    <span class='sm:hidden block text-2xl font-bold'>
      <a href="#main-section" class="p-2 block">
        javier<span class="text-[var(--accent-color-variant)]">hidalgo</span>
      </a>
    </span>
    <div class="right-mobile-navbar flex">
      <div class="inline-flex sm:hidden">
        <ThemeSelector />
      </div>
      <button id="menu-hamburger-btn" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm rounded-lg sm:hidden">
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
        </svg>
      </button>
    </div>
    <div id="menu-default" class='hidden sm:flex w-full h-screen sm:h-fit py-4 sm:py-1.5 flex flex-col sm:flex-row justify-center sm:justify-between items-center gap-0 sm:gap-3 sm:rounded-md text-3xl sm:text-base'>
      <div class='max-sm:flex max-sm:flex-col max-sm:items-center [&>a]:px-2 [&>a]:py-4 sm:[&>a]:py-1 [&>a]:rounded-md sm:hover:[&>a]:bg-[var(--accent-color)] sm:hover:[&>a]:text-[var(--accent-color-variant)] [&>a]:duration-150'>
        <a href='#main-section'>Inicio</a>
        <a href='#experience-section'>Experiencia</a>
        <a href='#projects-section' >Proyectos</a>
        <a href='mailto:francisco.hidalgo.nula@gmail.com' class="font-bold sm:text-[var(--accent-color)] sm:border border-[var(--accent-color)] box-border">Contacto</a>
      </div>
      <div class="hidden sm:inline-flex">
        <ThemeSelector />
      </div>
    </div>
  </div>
</nav>