---
import JavierHidalgoLogo from './JavierHidalgoLogo.astro'
import ThemeSelector from './ThemeSelector.astro'
---

<nav id="navbar" class='w-full fixed bottom-0 sm:bottom-auto sm:p-[12px] flex sm:justify-between items-center gap-3 self-stretch justify-center font-[600] text-[var(--primary)] sm:text-[var(--secondary)] bg-[var(--secondary)] sm:bg-neutral-200 sm:bg-opacity-30 sm:backdrop-blur-md border-b border-zinc-700 z-20'>
  <div class="mx-auto max-w-[900px] w-full flex justify-center">
    <!-- <span class='hidden sm:block hover:bg-zinc-600 rounded-full duration-100'>
      <a href="#main-section" class="p-2 block"><JavierHidalgoLogo /></a>
    </span> -->
    <div class='w-full sm:w-fit p-4 sm:p-1.5 flex justify-center items-center gap-0 sm:gap-3 sm:rounded-md children>a:text-xl children-li:px-2 children-li:py-0.5 children-li:rounded-md sm:hover:children-li:bg-[var(--accent-color)] sm:hover:children-li:text-[var(--accent-color-variant)] children-li:duration-150'>
      <a href='#main-section'>Inicio</a>
      <a href='#experience-section'>Experiencia</a>
      <a href='#projects-section' >Proyectos</a>
      <a href='mailto:francisco.hidalgo.nula@gmail.com' class=" sm:border-[1px] sm:border-[var(--accent-color)] sm:bg-[var(--accent-color-variant)] sm:text-[var(--accent-color)]">Contacto</a>
      <ThemeSelector />
    </div>
  </div>
</nav>