---
import ProjectCard from "./ProjectCard.astro"
import projects from "../mocks/projects.json"
---

<section id="projects-section" class="section w-full pb-10 pt-[100px] flex flex-col gap-3 select-none">
  <h2 id="projects-title" class="font-[700] text-[30px] ">Proyectos</h2>
  <div id="pojects-card-container" class="flex flex-col gap-16 sm:gap-2">
    {
      projects.map(p => <ProjectCard object={p} img={p.thumbnail} />)
    }
  </div>

</section>