---
import HTML from "../icons/HTML.astro"
import CSS from "../icons/CSS.astro"
import JavaScript from "../icons/JavaScript.astro"
import React  from "../icons/React.astro"
import Tailwind  from "../icons/Tailwind.astro"
import Node from "../icons/Node.astro"
import Express from "../icons/Express.astro"
import AstroIcon from "../icons/AstroIcon.astro"
import Bootstrap from "../icons/Bootstrap.astro"
import MongoDB from "../icons/MongoDB.astro"
import Vite from "../icons/Vite.astro"
import Sass from "../icons/Sass.astro"
import MaterialUI from "../icons/MaterialUI.astro"
import Vercel from "../icons/Vercel.astro"
---

<section class="scroller w-[90%] mt-20 flex mx-auto overflow-hidden">
  <div class="scroller__inner flex justify-center gap-16 whitespace-nowrap sm:hover:children:scale-110 sm:children:duration-150">
    <span class="html" title="HTML">
      <HTML />
    </span>
    <span class="css" title="CSS">
      <CSS />
    </span>
    <span class="javascript" title="JavaScript">
      <JavaScript />
    </span>
    <span class="react" title="React">
      <React />
    </span>
    <span class="astro" title="Astro">
      <AstroIcon />
    </span>
    <span class="vite" title="Vite">
      <Vite />
    </span>
    <span class="bootstrap" title="Bootstrap">
      <Bootstrap />
    </span>
    <span class="tailwind" title="Tailwind">
      <Tailwind />
    </span>
    <span class="materialui" title="Material UI">
      <MaterialUI />
    </span>
    <span class="sass" title="Sass">
      <Sass />
    </span>
    <span class="node" title="Node.js">
      <Node />
    </span>
    <span class="express" title="Express">
      <Express />
    </span>
    <span class="mongodb" title="MongoDB">
      <MongoDB />
    </span>
    <span class="vercel" title="Vercel">
      <Vercel />
    </span>
  </div>
</section>

<style>
	.scroller {
		mask: linear-gradient(90deg, transparent, white, white 80%, transparent);
		-webkit-mask: linear-gradient(
			90deg,
			transparent,
			white,
			white 80%,
			transparent
		);
	}

	.scroller__inner {
    animation: scroll 20s linear infinite;
	}

  .scroller__inner:hover {
    animation-play-state: paused;
	}
  
	@keyframes scroll {
		to {
			transform: translate(calc(-50% - 2rem));
		}
	}
</style>

<script>
	const scroller = document.querySelector(".scroller");

	const addAnimation = () => {
			scroller.setAttribute("data-animated", "true");
			const scrollerInner = scroller.querySelector(".scroller__inner");
			const scrollerContent = Array.from(scrollerInner.children);

			scrollerContent.forEach((item) => {
				const duplicateItem = item.cloneNode(true);
				duplicateItem.setAttribute("data-hidden", true);
				scrollerInner.appendChild(duplicateItem);
			});
	};

	!window.matchMedia("(prefers-reduced-montion: reduce)").matches &&
		addAnimation();
</script>